.App{
    height: 100vh;
    background-color: #e3e3e3;
    width: 85%;
    margin: auto;
    display: flex;
    flex-direction: column;
}
.nav-navbar{
    padding-top: 15px;
}
.content{
    padding-top: 25px;
    
}